@import "tailwindcss";

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-display: swap;
	src: url("/fonts/roboto.woff2") format("woff2");
}

@theme {
	--font-sans: "Roboto", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
		Arial, "Noto Sans", "Liberation Sans", sans-serif;

	--color-accent: #FF601C;
	--color-primary: #FCFCFC;
	--color-unfocus: #BDBDBD;

	--breakpoint-xxs: 280px;
	--breakpoint-xs: 400px;
}

@layer base {
	html {
		font-family: var(--font-sans);
		color: var(--color-primary)
	}
}

html,
body {
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
